.env
**/user-secrets
**/bin
**/obj
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
**/appsettings.Local.json   
**/appsettings.*.json
**/logs
**/log
**/wwwroot/logs
**/wwwroot/log
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml