.env
bin/
obj/
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Local.json
appsettings.*.json
logs/
log/
wwwroot/logs/
wwwroot/log/


docker-compose.override.yml
